.conteiner-header-privacidade .conteiner-header-div-privacidade {
    background-color: #333;
    padding: 20px;
}

.conteiner-header-privacidade .conteiner-header-div-privacidade {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.conteiner-header-privacidade .conteiner-header-div-privacidade img{
    margin-left: 80px;
}

.conteiner-header-privacidade .conteiner-header-div-privacidade h4 {
    margin-left: -78%;
    margin-top: 16px;
    color: #eee;
}

.container-main{
    margin-top: 5%;
    margin-left: 20%;
    max-width: 900px;
}

.container-main .main-section{
    margin-bottom: 40px;
}

.container-main .main-section p{
    font-weight: bold;
    font-size: 22px;
    margin-left: 25%;
}

.container-main .main-section{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.container-main .main-article a{
    text-decoration: none;
    color:  #2677C3;
}

.footer{
    margin-top: 5%;
}