.conteiner-cad{
    overflow: hidden;
}

.conteiner-cad .voltar {
    position: absolute;
}

.conteiner-grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttona {
    background-color: transparent;
    border: 0;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .3s;
}

.buttonb {
    background-color: transparent;
    border: 0;
    font-size: 28px;
    font-weight: bold;
    padding: 317px 200px;
    height: 100%;
    cursor: pointer;
    transition: all .3s;
}

.conteiner-grid1 .grid1 {
    transition: all .3s;
}

.conteiner-grid1 .buttona:hover{
    transform: scale(1.3);
}

.conteiner-grid1 .buttonb:hover{
    transform: scale(1.3);
}

.conteiner-grid1 .grid2 {
    transition: all .3s;
}

.conteiner-grid1 .grid1:hover {
    background-color: #2677C3;
}

.conteiner-grid1 .grid2:hover {
    background-color: #2677C3;
}

::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
}
  ::-webkit-scrollbar-thumb {
    display: none;
}
  ::-webkit-scrollbar-corner{
    display: none;
  }