li.dev-item {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
  }
  
  li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  li.dev-item header img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }
  
  li.dev-item header .user-info {
    margin-left: 10px;
  }
  
  .user-info {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    z-index: 1;
  }

  .user-info strong{
    font-size: 18px;
    color: #333;
  }

  .user-info span{
    font-size: 16px;
    color: #666;
  }

  .dev-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;   
  }

  .user-info .userphone{
    font-size: 14px;
    color: #444;
  }

  .user-info .userName{
    text-decoration: none;
    max-width: auto;
  }

  .user-info .user-name{
    font-size: 14px;
    color: #2677C3;
    font-weight: bold;
    transition: all .2s;
    text-decoration: none;
  }

  .user-info .user-name:hover{
    color:#1D5D99;
    text-shadow: 0px 0px 10px 10px #1D5D99;
  }

  .container-info{
    min-width: 90px;
  }

  .conteiner-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: -6%;
    margin-left: 22%;
    z-index: 2;
    position: absolute;
  }
  
  .delete{
    max-width: 20px;
    cursor: pointer;
  }

  .img-edit{
    max-width: 20px;
  }

.grid-orden{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li.dev-item .conteiner-map{
  top: 5px;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.conteiner-map #map{
  text-decoration: none;
  color: #2677C3;
  font-weight: bold;
  margin-left: 120px;
  margin-top: 15px;
}

li.dev-item .status{
  margin-left: -70px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  max-width: 70px;
  padding: 3px 6px 3px 6px;
  border: 2px solid #2677C3;
  color: #2677C3;
  background-color: transparent;
}

li.dev-item .orden{
  margin-left: 90px;
  margin-top: 10px;
  font-size: 14px;
}

  @media(max-width: 1100px){
    .conteiner-grid{
      margin-left: 50%;
      margin-top: -7%;
    }
  }

  @media(max-width: 1000px){
    .conteiner-grid{
      margin-left: 500px;
      margin-top: -80px;
    }
  }
  @media(max-width: 830px){
    .conteiner-grid{
      margin-left: 400px;
    }
  }
  @media(max-width: 750px){
    .conteiner-grid{
      margin-top: -80px;
      margin-left: 280px;
    }
  }
  @media(max-width: 650px){
    .conteiner-grid{
      margin-left: 230px;
    }
  }
  @media(max-width: 550px){
    .conteiner-grid{
      margin-left: 220px;
    }
  }
  @media(max-width: 440px){
    .conteiner-grid{
      margin-left: 180px;
    }
    .conteiner-map #map{
      margin-right: 70px;
    }
    .grid-orden{
      display: grid;
      grid-template-columns: 1fr;
    }
    .grid-orden .status{
      margin-left: -80px;
    }
  }
  @media(max-width: 410px){
    .conteiner-grid{
      margin-left: 240px;
    }
  }
  @media(max-width: 380px){
    .conteiner-grid{
      margin-left: 210px;
    }
  }
  @media(max-width: 360px){
    .conteiner-grid{
      margin-left: 190px;
    }
  }
  @media(max-width: 330px){
    .conteiner-grid{
      margin-left: 160px;
    }
  }